<strong>Olá, {{student_name}}</strong>
<p>É um prazer tê-lo conosco nesta aventura, estamos muito feliz!</p>
<p>Abaixo seguem algumas informações sobre seu plano, obrigado.</p>
<p>
  <strong>Plano:</strong> {{plano_name}} <br/>
  <strong>Data de Início:</strong> {{plano_inicio}} <br/>
  <strong>Data de Término</strong> {{plano_termino}} <br/>
  <strong>Mensalidade:</strong> R$ {{plano_valor}} <br/>
</p>
